service android.hardware.keymaster@4.1-javacard.service /vendor/bin/hw/android.hardware.keymaster@4.1-javacard.service
    interface android.hardware.keymaster@4.0::IKeymasterDevice javacard
    interface android.hardware.keymaster@4.1::IKeymasterDevice javacard
    class early_hal
    user system
    group system drmrpc
